body {
  margin:0;
  padding:0;
  font-family:arial;
  color:#FFF;
}
.topo {
  height:50px;
  background-color:#333;
}
.topo_int {
  width:1000px;
  margin:auto;
  line-height:50px;
}
.logomarca {
  float:left;
  font-size:32px;
}
.menu_nav {
  float:right;
}
.menu_nav ul, .menu_nav li {
  margin:0;
  padding:0;
  list-style:none;
}
.menu_nav li {
  float:left;
  padding-left:10px;
  padding-right:10px;
  font-size:12px;
  cursor:pointer;
}
.menu_nav li:hover {
  background-color:#3580C1;
}
.banner {
  height:300px;
  background-color:#3479BA;
}
.banner_int {
  width:1000px;
}
.baner_text {
  float:left;
}
.banner_image {
  float:right;
}
.comemoracao {
  width:430px;
  height:300px;
}
.frase_impacto {
  font-size:48px;
  font-weight:bold;
  margin-top:60px;
}
.frase_comp {
  
}
.botao_prod {
  
}
