body {
  margin:0;
  padding:0;
}
.topo {
  height:50px;
  background-color:#323232;
}
.topo_int {
  width:1000px;
  margin:auto;
  line-height:50px;
}
.logomarca {
  float:left;
  font-size:32px;
}
.menu_nav {
  float:right;
}
